<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BLOG</title>
</head>
<body>
  <H1>TULISAN BLOG SAYA</H1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam repellat vitae corrupti quasi sapiente! Debitis modi quasi rerum ab qui voluptate officiis, mollitia labore! Laborum, culpa nemo? Itaque, molestiae aut.</p>
</body>
</html>