<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HALAMAN DEPAN</title>
</head>
<body>
  <h1>SELAMAT DATANG DI BLOG HILMI</h1>
  
  {% include "layout/menu.html" %}

  <p>blog ini berisi tentang cerita dan pegnalaman saya dulu dan sekrang.</p>
  <p>teks, audio, dan vidio2 absurd.</p>

  {% if True %}
    <h1>ini akan muncul, karena kondisinya TRUE</h1>
  {% endif %}


  {{ nama | lower }}

  {% for fruit in buahbuahan %}
    <li>{{ fruit }}</li>
  {% endfor %}
</body>
</html>