<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GET IN TOUCH</title>
</head>
<body>
  <h1>GET IN TOUCH</h1>
  
  {% include "layout/menu.html" %}

  <ul>
    {% for kontak in data_kontak %}
      <li>{{ kontak }}</li>    
      <li><a href="{{ kontak.twitter }}">Twitter</a></li>    
      <li><a href="{{ kontak.github }}">GitHub</a></li>    
      <li>{{ kontak.no_hp }}</li>    
    {% endfor %}
  </ul>


</body>
</html>