<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GET IN TOUCH</title>
</head>
<body>
  <h1>GET IN TOUCH</h1>
  
  {% include "layout/menu.html" %}

  <ul>
    <li>twitter: <a href="https://twitter.com/hilmi_zul">@hilmi_zul</a></li>
    <li>instagram: <a href="https://instagram.com/hilmi_zul">@hilmi_zul</a></li>
    <li>email: <a href="mailto:zulx@smkn4-tsm.sch.id">email me</a></li>
  </ul>
</body>
</html>