<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GET IN TOUCH</title>
</head>
<body>
  <h1>GET IN TOUCH</h1>
  
  {% include "layout/menu.html" %}

  <ul>
    {% for kontak in contacts %}
      <li><a href="{{ kontak.twitter }}">{{ kontak.twitter }}</a></li>
      <li><a href="{{ kontak.github }}">{{ kontak.github }}</a></li>
      <li><a href="{{ kontak.email }}">{{ kontak.email }}</a></li>
      <li><a href="{{ kontak.no_hp }}">{{ kontak.no_hp }}</a></li>
    {% endfor %}
  </ul>
</body>
</html>